.noborder {
    text-align: center;
    color: green;
    font-weight: 600;
    margin: 5px 0; 
}

.Emoji-image {
    font-size: 40px; 
    margin: 5px 0;   
}

.Hired{
    font-size: 20px;
    margin: 5px 0;
}
