

.yess{
    margin-top: 10px;
    margin-left: 250px;
    width: 900px;
}

.yess textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;   
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.finishes{
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(102, 158, 18);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-self: flex-start;

}

.finishes:hover{
    background-color: greenyellow;
}